<div class="jumbotron text-center">
  <style>
    .jumbotron {
        background-color: #1E90FF;
        color: #ffffff;
        padding: 50px 25px;
    }
  </style>

  <h1>+1 Goals</h1>
  <p>Plan, Track And Achieve Your Goals Based On Proven Science</p>
</div>
<div class='features text-center'>
  <style>
  .features {
    padding: 50px 10px;
  }
  </style>

  <h1>+1 Goals? What Is It About?</h1>
</div>

<div class='feature_box'>
  <h3>Plan With The End In Mind</h3>
  <p>With every goal you set, we use backwards planning.</p>
  <p>We break down each step required and create a task.</p>
  <p>Easily add that task to your daily to-do list app or calendar.</p>
</div>

<div class='feature_box'>
  <h3>+1 When Complete A Task</h3>
  <p>The objective is to get as many +1's you can each day.</p>
  <p>Break down tasks into subtasks so you know exactly what you need to accomplish.</p>
  <p>Keep track of your progress with ease and know exactly what you have to do next.</p>
</div>

<div class='feature_box'>
  <h3>Success When You Add It All Up</h3>
  <p>The name of the game is to get as many +1's as you can each day.</p>
  <p>When you add up all the +1's, that's when you reached your goal.</p>
</div>

<div class='signup_button'>
  <button onclick="myFunction()">Sign Up</button>
</div>
