// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.logo {
  align-content: center;
  padding-bottom: 15px;
}
div.jumbotron {
  background-color: #1E90FF;
  color: #ffffff;
  text-align: center;
  align-items: center;
  padding: 30px 10px;
}

div.about {
  text-align: center;
  width: 800px;
  margin: auto;
  padding: 30px;
}

div.features {
  text-align: center;
  background-color: #1E90FF;
  color: #ffffff;
  padding: 30px;
  margin: auto;
  align-items: center;
}

div.feature_box {
  width: 1300px;
  margin: auto;
  align-items: center;
  padding: 20px;

}

div.icon {
  text-align: center;
  align-items: center;
  align-content: center;
  margin: auto;
  padding: 20px;
}

div.col-sm-4 {
  border-color: #1E90FF;
  align-content: center;
  padding: 20px;
}

div.signup {
  text-align: center;
}
.signup_button {
  color: #ffffff;
  background-color: #1E90FF;
  font: menu;
  font-style: normal;
  font-size: 38px;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  -webkit-border-radius:10px;
  cursor:pointer;
  -webkit-transition: all 100ms ease;
  &:hover{
    margin:6px;
    padding:18px 32px;
    -webkit-transition: all 100ms ease;
    overflow: hidden;
  }
}
